<% include ../../webpc/cfg/envpath.ejs %>
<div class="aidai_sidebar hide">
	<ul>
		<li id="gotop">
			<a href="#" class="sidebar_gotop"></a>
			<div class="aidai_sider_pop_box1">
				<div class="aidai_sidebar_pop">
					<div style="padding:25px 0 25px;">返回顶部</div>
				</div>
			</div>
		</li>
		<li>
			<!-- <a onclick="window.open('http://crm2.qq.com/page/portalpage/wpa.php?uin=4000590188&f=1&ty=1&aty=0&a=&from=6','_blank')" class="sidebar_c_service"></a> -->
			<a class="sidebar_c_service"></a>
			<div class="aidai_sider_pop_box1">
				<div class="aidai_sidebar_pop">
					<div style="padding:16px 0 16px;">
						<p>在线客服</p>
						<p>(9:00-22:00)</p>
					</div>
				</div>
			</div>
		</li>
		<li>
			<a href="javascript:void(0)" class="sidebar_weixin"></a>
			<div class="aidai_sider_pop_box2">
				<div class="aidai_sidebar_pop" style="bottom:4px;padding:10px 0;">
					<div>
						<img src="<%=G_cdnPath%>/themes/new_aidai/2015/images/weixin-public-id.png" width="120" height="120">
						<p style="margin-top:7px;">关注爱贷网微信订阅号</p>
						<p>获得更多理财资讯</p>
					</div>
				</div>
			</div>
		</li>
		<li>
			<a href="javascript:void(0)" class="sidebar_app"></a>
			<div class="aidai_sider_pop_box2">
				<div class="aidai_sidebar_pop" style="bottom:4px;padding:10px 0;">
					<div>
						<img src="<%=G_cdnPath%>/themes/new_aidai/2015/images/jk-app-download.png" width="120" height="120">
						<p style="margin-top:7px;">爱贷借款APP下载</p>
						<img src="https://icdn.cnaidai.com/aidai/webpc/static/img/qrcode/applicai.png" width="120" height="120">
						<p style="margin-top:7px;">爱贷网理财APP下载</p>
						<p>领取 <b>5888元</b> 理财金</p>
					</div>
				</div>
			</div>
		</li>
	</ul>
</div>
<script>
		(function(a,h,c,b,f,g){a["UdeskApiObject"]=f;a[f]=a[f]||function(){(a[f].d=a[f].d||[]).push(arguments)};g=h.createElement(c);g.async=1;g.charset="utf-8";g.src=b;c=h.getElementsByTagName(c)[0];c.parentNode.insertBefore(g,c)})(window,document,"script","http://assets-cli.udesk.cn/im_client/js/udeskApi.js","ud");
		ud({
		    "code": "1hd4kdhf",
		    "link": "http://cnaidai.udesk.cn/im_client?web_plugin_id=24489",
	        "targetSelector": ".aidai_sidebar .sidebar_c_service"
	    });
</script>
