.icon-new {
    background-image: data-uri("new-inverse.svg");
}

.icon-kill {
    background-image: data-uri("kill-inverse.svg");
}

.list-item {
    display: flex;

    .content {
        flex-grow: 1;

        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
