.icon-new {
    background-image: data-uri("new-inverse.svg");
    
    cursor: pointer;
}

.icon-kill {
    background-image: data-uri("kill-inverse.svg");

    cursor: pointer;
}

.icon-check {
    background-image: data-uri("check-inverse.svg");

    cursor: pointer;
}

.icon-addfile {
    background-image: data-uri("addfile-inverse.svg");

    cursor: pointer;
}

.icon-close {
    background-image: data-uri("action-close-dark.svg");

    height: 100% !important;

    cursor: pointer;
}
