.preview {
    > header {
        height: 36px;
        line-height: 36px;
    }

    webview {
        position: absolute;
        top: 32px;
        right: 0;
        bottom: 0;
        left: 0;

        background-color: white;
    }
}
