html, body, #app-container {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#app-container {
    position: relative;

    background-color: #1e1e1e;
}

body, input, textarea {
    font-family: -apple-system,BlinkMacSystemFont,Segoe WPC,Segoe UI,HelveticaNeue-Light,Ubuntu,Droid Sans,sans-serif;
    font-weight: normal;
    font-size: 12px;
    color: #cccccc;
}

main {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

input {
    box-sizing: border-box;
    
    display: block;

    height: 24px;
    line-height: 16px;

    padding: 4px;

    border: none;

    background-color: rgb(60, 60, 60);
    color: rgb(204, 204, 204);

    &:focus {
        outline-color: rgba(14, 99, 156, 0.6);
        outline-offset: 0;
    }
}

.drag-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    z-index: 10;
}

select {
    height: 20px;
    margin-top: (32 - 20) / 2px;

    background-color: rgb(60, 60, 60);
    color: rgb(240, 240, 240);
    border-color: rgb(60, 60, 60);

    &:focus {
        outline-color: rgba(14, 99, 156, 0.6);
        outline-offset: 0;
    }
}

.url-bar {
    display: flex;
    flex-grow: 1;

    padding: 0 8px;
}

#content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

h4 {
    display: block;
    height: 18px;
    line-height: 18px;

    color: #cccccc;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    padding: 4px 0 0;
    margin: 0;

    font-family: Segoe UI;
    font-size: 11px;
    font-weight: 400;

    text-transform: lowercase;
}
