<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{TITLE}}</title>
    <script src="flexible.js"></script>
    <style>
        html {
            margin: 0;
            width: 100%;
        }

        body {
            position: relative;

            width: 7.5rem;
            margin: 0 auto;
        }

        .background {
            font-size: 0;
        }

        img {
            width: 100%;
        }

        .content {
            position: absolute;
            top: 0;
            left: 0;
        }

    </style>
</head>

<body>
    <div class="background">
        {{BACKGROUND}}
    </div>
    <div class="content">
        {{CONTENT}}
    </div>
</body>

</html>
